/* ================= NORMALIZE CSS =============== */
@import url(./normalize.css);

/* ================= RESPONSIVE SETTINGS =============== */
*, *::before, *::after {
	box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* ================= FONTS ============================= */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@100;400;700&display=swap');


/*================== VARIABLES ========================= */

:root {
	/* Fonts */
	--main-font: "Source Sans 3", sans-serif;
	--regular-font: 100;
	--semibold-font: 400;
	--bold-font: 700;

	/* Interactions */
	--links-hover-active-color: #FF6565;
	--button-hover-active-opacity: 0.9;

	/* Colors */
	--color-white: #ffffff;
	--color-black: #071629;
	--color-red: #F26565;

}

/* ================= HELPERS =========================== */

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

header, main, footer {
	max-width: 1000px;
	width: 100%;
}

/* ================= HEADER & NAVBAR ===================== */
.header-container {
	padding-top: 30px;
}

/* ================= SECTIONS ===================== */
.header-container, .section-hero, .section-do, .section-results, .section-contact, .footer {
	padding-left: 20px;
	padding-right: 20px;
}

.section-hero {
	background-image: url(../img/background-hero.png);
	color: var(--color-white);
}

.section-do {

}

.section-results {
	background-image: url(../img/background-results.png);
	color: var(--color-white);
}

/* ================= FOOTER ===================== */
.footer {
	background-color: var(--color-black);
	color: var(--color-white);
	
}

/* ================= MEDIA QUERIES ===================== */

/* Tablet */
@media screen and (min-width: 481px) {
	.header-container, .section-hero, .section-do, .section-results, .section-contact, .footer {
		padding-left: 65px;
		padding-right: 65px;
	}
}

/* Desktop */
@media screen and (min-width: 1000px) {
	.header-container, .section-hero, .section-do, .section-results, .section-contact, .footer {
		padding-left: 200px;
		padding-right: 200px;
	}
	
	header, main, footer {
		margin-left: auto;
		margin-right: auto;
	}
}
